<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">DJANGO</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li><a href="{% url 'register-user' %}">Register</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'user-logout' %}">LogOut</a> </li>
                {% else %}
                <li><a href="{% url 'user-login' %}">Login</a> </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>